*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# 記憶體快照 (Memory Dumps)
*.hprof

# Firebase & Web
functions/.env
node_modules/
firebase-debug.log
firebase-debug.*.log
.runtimeconfig.json

# 密鑰與金鑰保護 (Keys & Keystores)
*.jks
*.keystore
*.p12
*.key
google-services.json

# 避免上傳加密相關的私鑰存儲
/app/src/main/assets/keys/*
/app/secret.properties
